body{
  background: white;
  margin: 10px;
}

/* head */
.hero-unit {
  padding: 25px;
}

/* navigation */
.nav-tabs > li a{
  padding: 5px 25px;
}

/* data tab */
.dataTextarea{
  width:100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* groups tab */
#groupsTab .header{
  width: 120px;
}

#groupsTab table{
  background-color: white;
  display: table-cell;
  table-layout: auto;
}

#groupsTab tr{
  cursor: default;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 2px 6px;
  vertical-align: bottom;
  white-space: normal;
}

#groupsTab td{
  border: 1px solid #ccc;
}

/* vis tab */
#vis{
  height: 500px;
}

/* navigation */
footer{
  margin-top: 20px;
  text-align: center;
  font-size: 10px;
  color: #888;
}