body{
  background: white;
  margin: 4px 0px;
}

/* head */
.hero-unit {
  padding: 5px 20px 15px;
}

.app-instructions {
  font-size: 90%;
  color: #555;
  margin-top: 4px;
}

.tab-instructions {
  font-size: 105%;
  color: #888;
  margin-bottom: 8px;
}


/* navigation */
.nav-tabs > li a{
  padding: 5px 25px;
}

/* footer */
footer{
  margin-top: 20px;
  text-align: center;
  font-size: 10px;
  color: #777;
}


/* data tab */
.dataTextarea{
  width:100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* groups tab */
#groupsTab .header{
  width: 120px;
}

#groupsTab table{
  background-color: white;
  display: table-cell;
  table-layout: auto;
}

#groupsTab tr{
  cursor: default;
  margin: 10px 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 2px 6px;
  vertical-align: bottom;
  white-space: normal;
}

#groupsTab td{
  border: 1px solid #ccc;
}

/* Treemap (from the original nv.css) */

#vis {

}

#options,
#edit,
#nessusinfo {
  margin-bottom: 20px;
}

#sizeoptions,
#changeoptions {
  margin-bottom: 5px;
}

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

.rectlabel {
  font-size: 11px;
}

rect {
  fill: none;
  stroke: #fff;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: #fff;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

rect.parent {
  pointer-events: all;
}

.children:hover rect.child,
.grandparent:hover rect {
  fill: #aaa;
}

#filters {
  text-align: center;
}

#filters rect {
  stroke: white;
  fill: steelblue;
  shape-rendering: crispEdges;
}

#filters .histogramlabel {
  font-size: 10px;
  fill: #777;
  text-rendering: optimizeLegibility
}

#filters .histogramtitle {
  font-size: 13px;
  fill: #aaa;
  text-rendering: optimizeLegibility
}

#filters .maxarea {
  font-size: 10px;
  fill: #777;
  text-rendering: optimizeLegibility
}
