body{
  margin: 4px 0;
  background: white;
}

/* head */
.hero-unit {
  padding: 5px 15px;
}

.tab-instructions {
  margin-bottom: 8px;
  font-size: 105%;
  color: #888;
}


/* navigation */
.nav-pills > li a{
  padding: 5px 25px;
}

/* footer */
footer{
  margin-top: 20px;
  font-size: 10px;
  color: #777;
  text-align: center;
}


/* data tab */
#file-status {
  display: none;
}
#file-drop {
  width: 200px;
  height: 200px; 
  margin: 20px auto;
  font-size: 160px;
  line-height: 200px;
  color: #ccc;
  text-align: center;
  border: 10px dotted #ccc; 
  border-radius: 10px;
}
#file-drop.hover {
  color: #333;
  border-color: #333; 
}

.file-button-pane {
  margin-top: 15px;
}

/* groups tab */

#groupsTab .header{
  width: 120px;
}

#groupsTab table{
  display: table-cell;
  background-color: white;
  table-layout: auto;
}

#groupsTab tr{
  padding: 2px 6px;
  margin: 10px 0;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: normal;
  vertical-align: bottom;
  cursor: default;
}

#groupsTab td{
  padding: 1px 12px;
  border: 1px solid #ccc;
}

.groups-button-pane {
  margin-top: 15px;
}

/* Treemap (from the original nv.css) */
.icon-resize-horizontal {
  color: #999999;
}

#vis svg {
  shape-rendering: crispEdges;
}

#hierarchy ul {
  list-style-type: none;
  margin: 0;
  padding: 0px; 
}

#hierarchy li {
  margin: 2px;
  padding: 1px 10px;
  float: left;
  cursor: move;
}

#options,
#edit,
#nessusinfo {
  margin-bottom: 20px;
  font-size: 11px;
}

#nessusinfo {
  height: 435px;
  overflow: auto;
  word-wrap: break-word;
}

#sizeoptions,
#changeoptions {
  margin-bottom: 5px;
}

#colorlegend {
  margin-top: 60px;
  margin-left: 20px;
}

text {
  text-rendering: optimizeLegibility;
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

.rectlabel {
  font-size: 11px;
}

rect {
  fill: none;
  stroke-width: 1px;
  stroke: #666;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
  stroke: #fff;
}

.grandparent rect {
  fill: #fff;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

rect.parent {
  pointer-events: all;
}

.children:hover rect.child,
.grandparent:hover rect {
  fill: #aaa;
}

#filters {
  text-align: center;
}


#filters .active {
  fill: lightsteelblue;
}


#filters .inactive {
  fill: steelblue;
}

#filters .bar {
  stroke: white;
  shape-rendering: crispEdges;
}

#filters .bar:hover {
  fill: orange;
}

#filters .histogramlabel {
  font-size: 10px;
  text-rendering: optimizeLegibility;
  fill: #777;
}

#filters .histogramtitle {
  font-size: 13px;
  text-rendering: optimizeLegibility;
  fill: #aaa;
}

#filters .maxarea {
  font-size: 10px;
  text-rendering: optimizeLegibility;
  fill: #777;
}

